package numbers;
import java.util.Scanner;

public class numbers {
    public static void main(String[] args) {
        Scanner console = new Scanner(System.in);
        int a = 0;
        boolean ent = false;
       while (!ent)
       {
           if (console.hasNextInt()) {
               int number = console.nextInt();
               a = a + number;
           }
           else
           {
               String number = console.nextLine();
               ent = number.equals("ENTER");
           }
       }
        System.out.println(a);

    }
}
